<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="nameSection">
        <h1>Add your name to the leaderboard</h1>
        <h2>Enter your name:</h2>
        <form action="/leaderboard2" method="get">
            <input type="text" id="playerName" name="playerName" placeholder="Your Name" required> <br>
            <button type="submit">Enter</button>
        </form>
    </div>


    <script src="main.js"></script>
</body>
</html>