<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Guess the Pokemon based on description</h1>
        <a href="/guess"><button id="playGame">Play Game</button></a>
        <button id="viewLeaderboard"><a href="/leaderboard">View Leader Board</a></li></button>
    </div>

    <script src="main.js"></script>
</body>
</html>
