<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="leaderboardSection">
        <h1>Leaderboard (Top 20 Scores)</h1>
        <%- output %>
        <br>
        <a href="/">Go Back to Home Page</a>
    </div>

    <script src="main.js"></script>
</body>
</html>
